<html>
  <body class="smoothscroll enable-animation">
  <!-- wrapper -->
  <div id="wrapper">

    <!-- PAGE HEADER -->
    <section class="page-header page-header-xlg parallax parallax-4">
      <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

      <div class="container">

        <div class="bold font-raleway wow fadeInUp animated">
            <h2 class="fs-55 fw-400 text-center">INTERVENTIONS</h2>
        </div>

      </div>
    </section>
    <!-- /PAGE HEADER -->
    <%= render 'form', intervention: @intervention %>
  </div>
  </body>
</html>